.footer-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 5em;
    border-top: 1px solid black;
    background-color: navy;
    width: 100%;
}

.footer-icon {
    color: white;
    font-size: 24px;
    &:first-child {
        margin-right: 10px;
    }
}

.author-info {
    color: white;
}

.links {
    display: flex;
    padding-left: 20px;
}