.nav-bar {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    background-color: rgb(24, 26, 27);
}

.logo {
    margin-left: 10px;
    margin-top: 0%;
    margin-bottom: 0%;
    color: darkorange;
    padding: 5px;
}

.login-logout {
    margin-top: 8px;
    margin-right: 10px;
    padding: 6px;
    padding-left: 15px;
    color: white;
}

.search input[type=text] {
    padding: 10px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    width: 500px;
    height: 15px;
    border-radius: 20px;
    background-color: rgb(24, 26, 27);
    border-color: rgb(129, 120, 106);
    border-style: solid;
    border-width: 2px;
    color: white;
    outline: none;
  }

  .welcome {
      color: white;
  }

  .search-button {
      color: white;
      background: transparent;
      border: none;
      outline: none;
      margin-left: -33px;
  }