.nav-bar {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    background-color: white;
}

.logo {
    margin-left: 10px;
    margin-top: 6px;
    color: darkorange;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-logout {
    margin-top: 13px;
    margin-right: 10px;
    padding: 6px;
    padding-left: 15px;
    color: black;
}

.log-button 
{
    color:black;
    background-color: white;
    border: none;
}

.search input[type=text] {
    padding: 10px;
    border: none;
    margin: 10px;
    font-size: 17px;
    width: 1000px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    border-color: rgb(129, 120, 106);
    border-style: solid;
    border-width: 2px;
    color: black;
    outline: none;
  }

  .welcome {
      color: black;
      margin-left: 18px;
      margin-top: 14px;
      padding: 6px;
  }

  .search-button {
      color: black;
      background: transparent;
      border: none;
      outline: none;
      margin-left: -40px;
  }

  .shopping-cart {
    margin-left: 15px;
    margin-top: 14px;
    padding: 6px;
  }