.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(24, 26, 27);
}

.logo {
    margin-left: 10px;
    margin-top: 0%;
    margin-bottom: 0%;
    color: darkorange;
}

.login-logout {
    margin-top: 8px;
    margin-right: 10px;
}