.review-body {
    border: 2px solid black;
    border-radius: 4px;
    width: 100%;
}

.review-form-container {
    width: 100%;
}

.submit-button {
    color:black;
    background-color: white;
    white-space: nowrap;
    border: hidden;
    border-radius: 25px;
    &:hover {
        background-color: black;
        color: white;
    }
}

.submit-review-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.review-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 2%;
}

.reviewer-name {
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 2%;
}

.review-rating {
    display: flex;
    align-items: center;
    padding-bottom: 2%;
}

.review-container {
    margin-bottom: 5%;
}

