.show-image {
    height: 500px;
    width: 500px;
}

.show-container {
    display: grid;
    grid-template-columns: 20% 30% 50%;
}

.show-info-container {
    display: grid;
    grid-template-rows: 10% 10% 10% 70%;
}