.show-image {
    /* height: 53.125em; */
    width: 56.25em;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border-radius:2%;
}

.show-image-small {
    /* height: 3.75em; */
    width: 3.75em;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border-radius:5%;
}

.show-image-small:focus {
    outline: solid black;
  }

.show-container {
    display: flex;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 1%;
}

.show-info-container {
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 100%;
    padding-left: 4%;
}

.show-info-container > p {
    padding-bottom: 2%;
}

.large-show-image {
    padding-left: 1%;
    padding-right: 5%;
}

.show-column {
    display: flex;
    flex-direction: column;
}

.show-images {
    display: flex;
    flex-direction: row;
}

.back-link {
    text-decoration: none;
    padding-bottom: 2%;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.show-title {
    font-size: 35px;
}

.show-price {
    font-size: 35px;
    font-weight: bold;
    margin-top: 5%;
}

.show-description {
    font-size: 30px;
    margin-top: 5%;
}