.index-image {
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }

  .recommended {
      display:flex;
      flex-direction: row;
      justify-content: center;
      padding: 20px;
      justify-content: space-evenly;
      margin-left: 10%;
      margin-right: 10%;
  }

  .yellow-bar {
    background-color: yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .yellow-bar-text {
    display: flex;
    justify-content: center;
  }

  .yellow-bar-text1 {
      font-weight: normal;
  }

  .yellow-bar-text2 {
      font-weight: bold;
  }

  .index-container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
