.recommended img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.search-history-index img {
  width: 175px;
  height: 175px;
}

.search-history-index img:hover {
  box-shadow: 0px 0px 8px black;
}

.search-history-index {
  margin-top: 2%;
}

.search-history-index-items {
  display: flex;
  justify-content: space-between;
  margin-left: 18%;
  margin-right: 18%;
}

.recommended {
    display:flex;
    padding: 20px;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
}

.index-image-title {
  text-align: center;
}

.yellow-bar {
  background-color: peachpuff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.yellow-bar-text {
  display: flex;
  justify-content: center;
}

.yellow-bar-text1 {
    font-weight: normal;
}

.yellow-bar-text2 {
    font-weight: bold;
}

.index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
  }

.index-item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.popular-items {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 2%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.splash-container {
  margin-bottom: 50px;
}

.index-review-average {
  display: flex;
}